.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  position: relative;
  border-radius: 15px !important;
  border: 3px solid black !important;
  width: 300px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
  margin: 0 auto !important;
}

.goBack{
  display: flex !important;
  justify-self: flex-start !important;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0) !important;
  color: #000 !important;
  border-color: rgba(255, 255, 255, 0) !important;
  font-weight: bold !important;
  font-size: 30px !important;
  margin-bottom: 2rem !important;
}

.goBack:hover{
  color: #779CAB !important;
}


.buttonHome{
  background-color: #FAC748;
}

.removeB{
  background-color: #FAC748 !important;
  margin-right: -4.4rem;
  margin-left: 2rem;
}
.scheduleBorder{
  border-bottom: solid 2px black !important;
  list-style-type: none;
}


.container {
  position: relative;
  top: 2px;
  width: 100%  !important;
  transition: top ease-in-out 0.5s;
  text-align: center;
  font-size: 30pt;
  margin: 0 auto
}

.roll {
  position: relative;
  width: 300px;
  cursor: pointer;
  background-color: #FAC748;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 10px;
  border: 3px solid black;
  margin: 0 auto;
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}

.rolling {
  position: relative;
  animation: blinkingText 1.2s infinite;
  margin: 0 auto;
  border-radius: 10px;
}
.currentTime{
  font-weight: bold;
  font-size: 19px;
}
.leftBorder{
  border-left: black 2px solid !important;
}

.removeB{
  background-color: #FAC748 !important;
  color: black !important;
  border-color: black !important;
  
}

.setCards{
  margin-left: 30rem;
}


@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
  
.clock{
  box-shadow: 2px 4px 4px black;
  margin-right: 40rem !important;
  margin-top: 1.1rem !important;
  border: black 2px solid !important;
}

.timeSet{
  font-size: 20px;
}
.homeCard{
  margin-left: -2px;
  margin-right: -2px;
  height: 20rem;
  background-color: #779CAB !important;
}

.navColor{
  background-color: #23395d;
}

.form-input{
  width: 20rem !important;
  border: 1.8px black solid !important;
  margin-bottom: 10px !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(82, 82, 82) !important;
  opacity: 1 !important; /* Firefox */
}

.bS{
  padding-left: -30px;
  border: 2px solid #779CAB !important;
  background-color: #779CAB !important;
  color: white;
  font-size: 20px;
}

.coloredBckg{
    width: 100%;
    height: 21rem;
    background-color: #23395d !important;
    margin-top: 4rem !important;
    font-size: 29px !important;
}

.clockBckg{
  width: 100%;
  height: 29rem;
  background-color: #779CAB !important;
  font-size: 29px !important;
}

.setAlarm{
  background-color: #FAC748 !important;
  color: #000 !important;
  border-color: #000 !important;
}
.titleWords{
  font-weight: bold;
  font-size: 33px;
  border-bottom: #23395d 8px solid;
}

.Schedule{
  margin-top: 1.1rem !important;
  background-color: white !important;
  border: black 2px solid !important;
  color: black;
  box-shadow: 3px 4px 4px black;
  overflow-y: scroll;
}
.schedulePointer{
  background-color: #23395d !important;
  margin-top: 4.1rem !important;
  color: #779CAB !important;
  border-color: #23395d !important;
  font-weight: bold;
  font-size: 40px !important;
  margin-right: 23rem;
}

.clockPointer{
  background-color: #779CAB !important;
  margin-top: 6.1rem !important;
  color:#23395d !important;
  font-weight: bold;
  border-color: #779CAB !important;
  font-size: 40px !important;
  margin-left: -23rem;
}

.bS1{
  border: 2px solid #23395d !important;
  background-color: #23395d !important;
  color: white;
  
}

.signupSwitch{
  font-size: 24px !important;
  font-weight: bolder;
  border-top: 5px solid black;
}
.signColor{
  color: #85CDCA !important;
}

.signupSwitch:hover{
  color: #FAC748 !important;
}

.but{
  background-color: #FAC748 !important;
  color: black !important;
}
@media only screen and (min-width: 788px) {
.formMargin{
  padding-top: 100px !important;
}
.bS1{
  padding-top: 40px !important;
}
.bS{
  padding-top: 40px !important;
}
}

@media only screen and (max-width: 787px) {
  .displaySm{
    display: inline-block !important;
  }
  .cG{
    display: inline-block !important;
  }
  .bS{
    width: 18rem !important;
  }
  .bS1{
    width: 18rem !important;
  }
  .clockPointer{
    visibility: hidden;
  }
  .schedulePointer{
    visibility: hidden;
  }
  .goBack{
    display: flex !important;
    justify-self: center !important;
  }

  .timeSet{
    width: 10rem;
  }
  .Schedule{
    display: center !important;
    align-items: center !important;
    justify-content: center !important;
    align-self: center !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 30rem !important;
    margin-left: -32rem !important;
    margin-right: 2rem !important;
    margin-top: -7rem !important;
  }
  

  .coloredBckg{
    margin: 0 !important;
    padding: 0 !important;
  }

  .clockBckg{
    margin: 0 !important;
    padding: 0 !important;
  }
  .clock{
    display: center !important;
    align-items: center !important;
    justify-content: center !important;
    align-self: center !important;
    margin: 0 !important;
    margin-left: 2rem !important;
    padding: 0 !important;
  }

  .removeB{
    margin-right: 1rem !important;
  }
  
}

@media only screen and (max-width: 360px) and (min-width: 359px) {
  .bS{
    width: 15rem !important;
  }
  .bS1{
    width: 15rem !important;
  }
}

@media only screen and (max-width: 320px) {
  .bS{
    width: 15rem !important;
  }
  .bS1{
    width: 15rem !important;
  }
  .clock{
    margin-left: 0 !important;
    margin-left: 1.3rem !important;
  }
}