.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  position: relative;
  border-radius: 15px !important;
  border: 3px solid black !important;
  width: 300px;
  height: 70px;
  overflow: hidden;
  background-color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
  margin: 0 auto !important;
}


.container {
  position: relative;
  top: 2px;
  width: 100%  !important;
  transition: top ease-in-out 0.5s;
  text-align: center;
  font-size: 30pt;
  margin: 0 auto
}

.roll {
  position: relative;
  width: 215px;
  cursor: pointer;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  border: 3px solid black;
  margin: 0 auto;
}

.rolling {
  position: relative;
  animation: blinkingText 1.2s infinite;
  margin: 0 auto;

}


@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
  
.clock{
  box-shadow: 2px 4px 4px black;
}

.timeSet{
  font-size: 20px;
}
.homeCard{
  margin-left: -2px;
  margin-right: -2px;
  height: 20rem;
  background-color: #85CDCA !important;
}

.navColor{
  background-color: #23395d;
}

.form-input{
  width: 20rem !important;
  border: 1.8px black solid !important;
  margin-bottom: 10px !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(82, 82, 82) !important;
  opacity: 1 !important; /* Firefox */
}

.bS{
  padding-left: -30px;
  border: 2px solid #779CAB !important;
  background-color: #779CAB !important;
  color: white;
  font-size: 20px;
}

.bS1{
  border: 2px solid #23395d !important;
  background-color: #23395d !important;
  color: white;
}


.signupSwitch{
  font-size: 24px !important;
  font-weight: bolder;
  border-top: 5px solid black;
}
.signColor{
  color: #85CDCA !important;
}

.signupSwitch:hover{
  color: #FAC748 !important;
}

.but{
  background-color: #FAC748 !important;
  color: black !important;
}
@media only screen and (min-width: 788px) {
.formMargin{
  padding-top: 100px !important;
}
.bS1{
  padding-top: 40px !important;
}
.bS{
  padding-top: 40px !important;
}
}

@media only screen and (max-width: 787px) {
  .displaySm{
    display: inline-block !important;
  }
  .cG{
    display: inline-block !important;
  }
  .bS{
    width: 18rem !important;
  }
  .bS1{
    width: 18rem !important;
  }

  
}

@media only screen and (max-width: 360px) and (min-width: 359px) {
  .bS{
    width: 15rem !important;
  }
  .bS1{
    width: 15rem !important;
  }
}

@media only screen and (max-width: 320px) {
  .bS{
    width: 15rem !important;
  }
  .bS1{
    width: 15rem !important;
  }
}